@import "tailwindcss";

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html{
    font-size: 60%;
}

@media (min-width: 760px){
    html{
        font-size: 80%;
    }
}

@media (min-width: 1024px){
    html{
        font-size: 100%;
    }
}