<div *ngIf="isOpen" class="fixed inset-0 bg-black/50 flex justify-center items-center z-50">
  <div class="bg-white rounded-2xl shadow-lg p-6 w-[90%] max-w-2xl relative">
    <button
      class="absolute top-3 right-3 text-gray-500 hover:text-gray-700"
      (click)="closeModal()">X</button>

    <h2 class="text-xl font-semibold mb-4" >
      {{ snippetData ? 'Editar Snippet' : 'Novo Snippet'}}
    </h2>
    <div class="text-gray-700 mb-4">
       <form class="space-y-5" (ngSubmit)="saveSnippet()">
        <div>
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Título</label>
            <input
            type="text"
            id="title"
            name="title"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Ex: Função para validar email"
            required
            />
        </div>

        <div>
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Descrição</label>
            <input
            id="description"
            name="description"
            rows="2"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Breve descrição do snippet"
            required
            />
        </div>

        <div>
            <label for="language" class="block mb-2 text-sm font-medium text-gray-900">Linguagem</label>
            <select
            id="language"
            name="language"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
            <option value="">Selecione...</option>
            <option>JavaScript</option>
            <option>TypeScript</option>
            <option>Python</option>
            <option>C#</option>
            <option>HTML</option>
            <option>CSS</option>
            </select>
        </div>

        <div>
            <label for="code" class="block mb-2 text-sm font-medium text-gray-900">Código</label>
            <textarea
            id="code"
            name="code"
            rows="5"
            class="bg-gray-50 font-mono border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Cole seu código aqui..."
            required
            ></textarea>
        </div>


        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Tags</label>
            <div class="flex gap-2 mb-2">
                <input
                    type="text"
            
                    name="tagInput"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="Adicionar tag..."
                />
                <button
                    type="button"
                    (click)="addTag()"
                    class="bg-gray-300 text-black px-3 py-2 rounded-lg text-sm">
                    Adicionar
                </button>
            </div>

            <div class="flex flex-wrap gap-2">
            <span
              *ngFor="let tag of formData.tags; let i = index"
              class="bg-blue-100 text-blue-700 px-3 py-1 rounded-full text-sm flex items-center gap-2">
              {{ tag }}
              <button
                type="button"
                class="text-blue-500 hover:text-blue-700"
                (click)="removeTag(i)">
                ✕
              </button>
            </span>
          </div>
        </div>

      <div class="flex justify-end mt-6 gap-2">
      <button
               class="px-4 py-2 rounded-lg border border-gray-300 text-gray-700 hover:bg-gray-100"
        (click)="closeModal()">
        Cancelar
      </button>

      <button
        type="submit"
        class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
        {{ snippetData ? 'Salvar Alterações' : 'Criar Snippet'}}
      </button>
      </div>

       </form>
    </div>
  </div>
</div>
