<div class="max-w-sm w-full bg-white border border-gray-200 rounded-xl shadow-md dark:bg-gray-800 dark:border-gray-700 overflow-hidden hover:shadow-lg transition-shadow">
  <div class="p-5">
    
    <div class="flex items-center justify-between mb-2">
      <h5 class="text-xl font-semibold text-gray-900 dark:text-white">
        React useState Hook
      </h5>

      <span class="text-xs bg-gray-200 text-gray-700 px-2 py-1 rounded-full dark:bg-gray-700 dark:text-gray-300">
        JavaScript
      </span>
    </div>

    <p class="mb-4 text-gray-600 dark:text-gray-300 text-sm">
      Exemplo básico de uso do useState
    </p>

    <pre class="bg-gray-900 text-green-400 text-sm rounded-lg p-3 overflow-x-auto font-mono">
        <code>
        // Este é um exemplo
        // de código
        </code>
    </pre>

    <div class="flex justify-between items-center mt-3 text-black">
      <div class="flex gap-2 flex-wrap">
        <span class="text-xs bg-white text-black-700 px-2 py-1 rounded-full border border-gray-200 dark:bg-gray-700 dark:text-gray-200">
          React
        </span>
        <span class="text-xs bg-white text-black-700 px-2 py-1 rounded-full border border-gray-200 dark:bg-gray-700 dark:text-gray-200">
          Hook
        </span>
      </div>

      <div class="flex justify-end items-center gap-3 mt-3 text-black">
        <button title="Copiar código">
            <i class="fa-solid fa-copy"></i>
        </button>
        <button title="Editar snippet">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </div>
    </div>
</div>
